<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--  <add name="WpfMysql.Properties.Settings.DataBaseTestConnectionString"
      connectionString="server=serverip;user id=userdbip;password=pass;persistsecurityinfo=True;database=DataBaseTest"
      providerName="MySql.Data.MySqlClient" /> -->
 
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>